* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --overlayColor: rgba(0 0 0 / .4);
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --mainColor: #1abc9c;
    --paragraphColor: #777777;
    --pColor: #9c9c9c;
    --footerBg: #232323;
    --mainPadding: 80px;
    --mainTransition: all .3s;
}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--mainColor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(26 188 156 / .6);
}


body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/*Start container Css Code*/
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*Xsmall Devices Landscape Phones*/
@media(min-width: 576px) {
    .container {
        width: 540px;
    }
}

/* Small Devices Tablet */
@media (min-width: 768px) {

    .container {
        width: 750px;
    }
}

/* Medium Pcs desktop*/
@media (min-width: 992px) {

    .container {
        width: 960px;
    }
}

/* Large Screens*/
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

/* XLarge Screens*/
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

/*End container Css Code*/

/* Start Header */
.header {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.header .btn {
    position: absolute;
    color: var(--whiteColor);
    font-size: 20px;
    font-weight: 900;
    top: 50%;
    cursor: pointer;
    z-index: 2;
}

.header .btn-right {
    right: 20px;
}

.header .btn-left {
    left: 20px;
}

.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlayColor);
}

.header .container .header-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.header .container .logo h2 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(--whiteColor);
}

.header .container .nav-bar {
    position: absolute;
    top: 65px;
    left: -1000px;
    transition: left .5s ease-in-out;
}

.header .container .nav-bar li {
    margin-bottom: 10px;
}

.header .container .nav-bar li a {
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: var(--mainTransition);
    color: var(--whiteColor);
}

.header .container .nav-bar li a:hover,
.header .container .nav-bar li a.active {
    color: var(--mainColor);
    border-bottom: 2px solid var(--mainColor);
}

.header .container .header-top .menu {
    cursor: pointer;
    color: var(--whiteColor);
}

.header .container .nav-bar.active {
    left: 0;
    background-color: rgba(0 0 0 / .6);
    padding: 10px 15px;
    width: 100%;
    z-index: 10;
}

.header .container .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--whiteColor);
    z-index: 1;
}

.header .container .text-container h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 44px;
    font-weight: 600;
}

.header .container .text-container h2 span {
    color: var(--mainColor);
}

.header .container .text-container p {
    max-width: 470px;
    margin: 0 auto;
}

.header .container .read-more {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border: 3px solid var(--whiteColor);
    padding: 10px 25px;
    background: linear-gradient(to right, var(--mainColor) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    cursor: pointer;
    transition: var(--mainTransition) ease-in-out;
}

.header .container .read-more a {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--whiteColor);
}

.header .container .read-more:hover {
    background-position: left bottom;
}

@media(min-width: 768px) {
    .header .container .header-top .menu {
        display: none;
    }

    .header .container .header-top {
        width: 100%;
    }

    .header .container .nav-bar {
        position: unset;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .header .container .nav-bar li {
        margin: 0 30px 0 0;
    }

    .header .container .nav-bar li a {
        text-align: center;
    }

    .header .container .text-container {
        width: 100%;
    }
}

/* End Header */

/* Start Our Services */
.our-services,
.our-team {
    padding: var(--mainPadding) 0 40px 0;
}

.line {
    border: 1px solid #EEE;
}

.our-services .container h2,
.our-team .container .our-text h2,
.testimonials .container h2,
.projects .container h2,
.contact-us .container h2 {
    text-transform: capitalize;
    position: relative;
    text-align: center;
}

.our-services .services-container {
    margin-top: 30px;
}

.our-services .services-container .service-box {
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.our-services .services-container .service-box i {
    font-size: 45px;
    margin-bottom: 15px;
    color: var(--mainColor);
}

.our-services .services-container .service-box .service-text h3 {
    font-size: 18px;
}

.our-services .services-container .service-box .service-text p {
    margin: 10px auto;
    font-size: 14px;
    max-width: 261px;
    color: var(--paragraphColor);
}

@media(min-width: 768px) {
    .our-services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
        gap: 20px
    }
}

@media(min-width: 992px) {

    .our-services .container h2,
    .our-team .container h2,
    .contact-us .container h2 {
        text-align: left;
    }

    .our-services .container h2::before,
    .our-team .container h2::before,
    .projects .container h2::before,
    .contact-us .container h2::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 40px;
        background-color: var(--blackColor);
        top: 35px;
        left: 0;
    }

    .our-services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
        gap: 0;
    }

    .our-services .services-container .service-box {
        text-align: left;
        display: flex;
        gap: 20px;
    }

    .our-services .services-container .service-box i {
        margin-top: 7px;
    }
}

/* End Our Services */

/* Start Our Team */
.our-team .container .our-text p {
    text-align: center;
    margin: 15px 0;
    color: var(--paragraphColor);
    font-size: 14px;
}

.our-team .container .our-box {
    margin: 20px 0;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: var(--mainTransition);
}

.our-team .container .our-box:hover:before {
    position: absolute;
    width: 175px;
    height: 175px;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    bottom: 0;
    right: 0;
    color: var(--whiteColor);
    text-align: center;
    line-height: 175px;
    font-size: 16px;
    background-color: rgba(26 188 156 / .6);
}

.our-team .container .our-box:first-child:hover:before {
    content: "Ashley Cady";
}

.our-team .container .our-box:nth-child(2):hover:before {
    content: "Lyn Othman";
}

.our-team .container .our-box:nth-child(3):hover:before {
    content: "Jad Cady";
}

.our-team .container .our-box:nth-child(4):hover:before {
    content: "Riad Mohammad";
}

.our-team .container .our-box img {
    max-width: 100%;
}

@media(min-width: 768px) {
    .our-team .container .our-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }

}

@media(min-width: 992px) {
    .our-team .container {
        display: flex;
        align-items: center;
        column-gap: 130px;
        flex-wrap: wrap;
    }

    .our-team .container .our-text p {
        text-align: left;
        max-width: 370px;
    }

    .our-team .container .our-text h2 {
        text-align: left;
    }

    .our-team .container .our-container {
        display: grid;
        grid-template-columns: repeat(4, 175px);
        gap: 30px;
    }
}

/* End Our Team */

/* Start Testimonials */
.testimonials {
    padding: var(--mainPadding) 0;
    background-image: url(../img/testimonials.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 391px;
    position: relative;
}

.testimonials::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0 0 0 / .6)
}

.testimonials .container h2 {
    color: var(--whiteColor);
    font-size: 22px;
    font-weight: 500;
}

.testimonials .container h2::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 40px;
    background-color: var(--whiteColor);
    top: 35px;
}

.testimonials .container .testimonials-box {
    position: relative;
    text-align: center;
}

.testimonials .container .testimonials-box .quote {
    position: relative;
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    color: var(--whiteColor);
    margin: 50px auto;
    max-width: 657px;
    line-height: 1.8;
}

.testimonials .container .testimonials-box .quote::before,
.testimonials .container .testimonials-box .quote::after {
    position: absolute;
    color: var(--mainColor);
    font-size: 24px;
    font-weight: bold;
}

.testimonials .container .testimonials-box .quote::before {
    content: open-quote;
    top: -15px;
    left: -7px;
}

.testimonials .container .testimonials-box .quote::after {
    content: close-quote;
    bottom: -6px;
}

.testimonials .container .testimonials-box .writer {
    color: var(--mainColor);
    font-weight: bold;
}

@media(min-width: 768px) {

    .testimonials .container .testimonials-box .quote::before,
    .testimonials .container .testimonials-box .quote::after {
        position: absolute;
        color: var(--mainColor);
        font-size: 24px;
        font-weight: bold;
    }

    .testimonials .container .testimonials-box .quote::before {
        content: open-quote;
        top: -15px;
        left: 2px;
    }

    .testimonials .container .testimonials-box .quote::after {
        content: close-quote;
        top: 13px;
    }

}

/* End Testimonials */
/* Start Project */
.projects {
    padding: var(--mainPadding) 0;
}

.projects .container h2 {
    text-align: left;
}

.projects .container .project-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.projects .container .project-nav li {
    margin-right: 10px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--mainColor);
    color: var(--pColor);
    border: 1px solid var(--pColor);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.projects .container .project-nav li::before {
    content: "";
    position: absolute;
    background-color: var(--whiteColor);   
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: all .5s ease-in-out;
}

.projects .container .project-nav li:hover::before,
.projects .container .project-nav li.active::before {
    transform: scale(0);
    background-color: var(--mainColor);   
}

.projects .container .project-nav li:hover {
    color: var(--whiteColor);
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}

.projects .container .project-nav li.active{
    color: var(--whiteColor);
    background-color: var(--mainColor);
}

.projects .container .all {
    margin-top: 10px;
}

.projects .container .project-section {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.projects .container .project-section.active {
    opacity: 1;
    height: auto;
}

.projects .container .project-section .img-box {
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    transition: var(--mainTransition);
}

.projects .container .project-section .img-box img {
    max-width: 100%;
}

.projects .container .project-section .img-box .heart {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: var(--whiteColor);
    font-weight: 600;
    opacity: 0;
    transition: var(--mainTransition);
}

.projects .container .project-section .img-box:hover::before {
    content: "View More";
    position: absolute;
    width: 100%;
    height: 98%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(26 188 156 / .6);
    color: var(--whiteColor);
    text-align: center;
    line-height: 220px;
    font-size: 16px;
}

.projects .container .project-section .img-box:hover::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 50px;
    border: 1px solid var(--whiteColor);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projects .container .project-section .img-box:hover .heart {
    opacity: 1;
}


@media(min-width: 768px) {
    .projects .container .project-section {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
        column-gap: 10px;
    }

    .projects .container .project-section img {
        height: 213px;
        width: 100%;
    }

    .projects .container .project-section .img-box:hover::before {
        height: 213px;
    }
}

/* End Project */
/* Start Contact Us  */
.contact-us {
    padding: 0 0 var(--mainPadding) 0;
}

.contact-us .contact-container {
    margin-top: 40px;
}

.contact-us .contact-container form {
    text-align: center;
}

.contact-us .contact-container form input:not(:last-child),
.contact-us .contact-container form textarea {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--pColor);
    color: var(--mainColor);
}

.contact-us .contact-container form textarea {
    resize: none;
    min-height: 200px;
}

.contact-us .contact-container form input:not(:last-child):focus::placeholder,
.contact-us .contact-container form textarea:focus::placeholder {
    opacity: 0;
}

.contact-us .contact-container form input:not(:last-child):focus,
.contact-us .contact-container form textarea:focus {
    border: 1px solid var(--mainColor);
}

.contact-us .contact-container form button {
    outline: none;
    padding: 10px 15px;
    color: var(--pColor);
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
    font-weight: 500;
    cursor: pointer;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all .5s ease-in-out;
}

.contact-us .contact-container form button::before {
    content: "";
    position: absolute;
    background-color: var(--whiteColor);   
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: all .5s ease-in-out;
}

.contact-us .contact-container form button:hover::before {
    transform: scale(0);
    background-color: var(--mainColor);   
}

.contact-us .contact-container form button:hover{
    color: var(--whiteColor);
}
.form-control {
    position: relative;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 7px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 2px;
	left: 11px;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.contact-us .contact-container .map {
    margin-top: 20px;
    width: 100%;
}

.contact-us .contact-container .map iframe {
    width: 100%;
    height: 83%;
}

@media(min-width: 768px) {
    .contact-us .contact-container {
        display: flex;
        justify-content: space-between;
        gap: 10px
    }

    .contact-us .contact-container form {
        flex-basis: 50%;
    }

    .contact-us .contact-container .map {
        flex-basis: 48%;
    }

    .contact-us .contact-container .map{
        margin-top: 0;
    }
}

/* End Contact Us  */
/*Start Footer*/
.footer {
    background-color: var(--footerBg);
    padding: var(--mainPadding) 0 30px 0;
}

.footer .container .footer-box h3 {
    color: var(--whiteColor);
    font-size: 18px;
    text-transform: capitalize;
}

.footer .container .footer-box p {
    color: var(--pColor);
    font-size: 13px;
    margin: 20px 0;
}

.footer .container .footer-box .social-media {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer .container .footer-box .social-media li {
    margin-right: 7px;
    text-align: center;
    line-height: 35px;
    border: 1px solid var(--pColor);
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: var(--mainTransition);
}

.footer .container .footer-box .social-media li a {
    color: var(--pColor);
}

.footer .container .footer-box .social-media li:hover {
    border: 1px solid var(--whiteColor);
}

.footer .container .footer-box .social-media li:hover a {
    color: var(--whiteColor);
}

.footer .container .footer-box .tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.footer .container .footer-box .tags li {
    color: var(--whiteColor);
    margin-right: 10px;
    border: 1px solid var(--whiteColor);
    padding: 10px 14px;
    margin-bottom: 10px;
}

.footer .container .footer-box .recent-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer .container .footer-box .recent-container .recent-box {
    margin-bottom: 20px;
}

.footer .container .footer-box .recent-container .recent-box img {
    max-width: 100%;
}

.footer .container .footer-box .recent-container .recent-box .recent-text {
    text-align: center;
    margin-top: 10px;
}

.footer .container .footer-box .recent-container .recent-box .recent-text h4 {
    color: var(--whiteColor);
    font-size: 13px;
}

.footer .container .footer-box .recent-container .recent-box .recent-text span {
    color: var(--pColor);
    font-size: 13px;
}

.footer .container .footer-box .category {
    margin-top: 20px;
}

.footer .container .footer-box .category li {
    font-size: 13px;
    color: var(--whiteColor);
    padding: 15px 0;
    border-bottom: 1px solid var(--pColor);
}

.footer .container .copyright p {
    color: var(--pColor);
    font-size: 13px;
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
}

@media(min-width: 768px) {
    .footer .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        gap: 10px;
    }

    .footer .container .footer-box .recent-container .recent-box {
        display: flex;
        gap: 15px;
    }

    .footer .container .footer-box .recent-container .recent-box img {
        flex-basis: 50%;
        width: 80px;
        height: 80px;
    }

    .footer .container .footer-box .recent-container .recent-box .recent-text {
        text-align: left;
    }

    .footer .container .footer-box .social-media {
        margin-top: 40px;
    }

    .footer .container .copyright p {
        text-align: left;
        margin: 0;
    }
}

@media(min-width: 1200px) {
    .footer .container {
        gap: 37px;
    }
}

.up {
    position: fixed;
    bottom: 20px;
    right: -50px;
    font-size: 18px;
    color: var(--mainColor);
    background-color: #333;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--mainTransition);
}

.up.show{
    right: 20px;
}
/*End Footer*/